@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

.home {
    width: 100%;
}

.cartItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #0004;
}

.cartItems img {
    width: 30px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.cart-name-price {
    width: 100%;
    margin-left: 20px;
}

.cart-name-price span {
    display: block;
    font-family: 'Alata', sans-serif;
}
.cart-name-price span:last-child {
    margin-top: 2px;
}

.all-products {
    position: absolute;
    top: 80px;
    right: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: 70%;
    overflow-X: hidden;
    gap: 30px;
    padding: 20px;
}

.filter {
    position: fixed;
    display: grid;
    top: 80px;
    gap: 20px;
    padding: 20px;
}

.filter span {
    color: aliceblue;
    cursor: pointer;
}

.cart-page {
    margin-top: 80px;
    padding: 2rem;
    width: 100%;
}

.cart-page .cart-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.cart-page .cart-items img {
    width: 100px;
    aspect-ratio: 1 / 1;
}

.cart-page .cart-items .total {
    height: 75vh;
}

.dropdown {
    position: relative !important;
}

.dropdown-menu {
    width: 100vw; 
    min-width: 200px; 
    max-width: 370px; 
    padding: 20px; 
    min-height: 100%;
    max-height: 400px; 
    overflow-X: hidden;
    overflow-Y: scroll; 
    transform: translateX(-78%);
    box-shadow: 0 5px 10px #0005;
    border-radius: 10px;
}

.filter-btn-mobile {
    display: none;
    visibility: hidden;
}

@media (max-width: 980px) {
    .all-products {
        right: 0;
        width: 70%;
    }
}


@media (max-width: 768px) {
    .products {
        right: 0;
        width: 80%;
        transform: translateX(25%);
    }

    .cart-page .cart-items {
        flex-direction: column;
    }

    .list-group {
        margin-bottom: 150px !important;
        margin-top: -20px !important;
    }

    .cart-page .cart-items .total {
        width: 100% !important;
        height: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 556px) {
    .all-products {
        left: 0;
        top: 120px;
        transform: translateX(-8%);
        width: 100%;
    }

    .products img {
        width: 60vw !important;
    }

    .filter {
        width: 40%;
        margin-top: 48px;
        font-size: 12px !important;
        transform: translateX(-100%);
        z-index: 999;
        transition: transform 200ms;
        width: max-content;
    }

    .filter.active {
        transform: translateX(0);
    }

    .filter-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }
    .rating {
        font-size: 15px !important;
    }

    .filter-btn-mobile {
        display: block;
        visibility: visible;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 80px;
        padding: .5rem 0;
        z-index: 99;
        font-weight: bolder;
        font-size: 20px;
        border: 1px solid #0003;
        background-color: rgb(253, 255, 226);
    }
}

@media (max-width: 420px) {

    .nav-logo a {
        font-size: 16px !important;
    }
    
    .search {
        width: 15vw !important;
        margin-left: -120px !important;
    }

    .dropdown-menu { 
        transform: translateX(-74%);
    }
}