@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

.home {
    width: 100%;
}

.cartItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #0004;
}

.cartItems img {
    width: 30px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.cart-name-price {
    width: 100%;
    margin-left: 20px;
}

.cart-name-price span {
    display: block;
    font-family: 'Alata', sans-serif;
}
.cart-name-price span:last-child {
    margin-top: 2px;
}

.all-products {
    position: absolute;
    top: 80px;
    right: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: 70%;
    overflow-X: hidden;
    gap: 30px;
    padding: 20px;
}

.filter {
    position: fixed;
    display: grid;
    top: 80px;
    gap: 20px;
    padding: 20px;
}

.filter span {
    color: aliceblue;
    cursor: pointer;
}

.cart-page {
    margin-top: 80px;
    padding: 2rem;
    width: 100%;
}

.cart-page .cart-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.cart-page .cart-items img {
    width: 100px;
    aspect-ratio: 1 / 1;
}

.total {
    height: 75vh;
}
